.row
{
    padding: 20px 0;
}

.btn-primary {
  background-color:transparent;
  color: rgb(95, 4, 35);
  border: 1px solid rgb(95, 4, 35);
  box-shadow: none;
}

.btn-delete {
  background-color: rgb(95, 4, 35);
  color: white;
}

.btn-delete:hover {
  background-color:white;
  color: rgb(95, 4, 35);
}

.btn-primary:hover,
.btn-primary:active
.btn-primary:focus
{
  background-color: rgb(95, 4, 35);
  color: white;
  box-shadow: none;
}

.custom-select {
  border: 1px solid rgb(95, 4, 35);
  color: rgb(95, 4, 35);
}